body {
  margin: 0;
  padding: 0;
  background-color: #cfa;
  width: 100vw;
  display: flex;
  overflow-x: hidden;
}
#navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  top: 0;
  left: 0;
  height: 40px;
  background-color: #3a3;
}
#menu-btn {
  margin-left: 1em;
  font-size: 120%;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  text-shadow: 0px 0px 5px black;
}
#cart-btn {
  overflow: hidden;
  display: flex;
  width: 10%;
  justify-content: flex-end;
  height: 100%;
  cursor: pointer;
  position: relative;
}
#cart-counter {
  background-color: rgb(70, 209, 255);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 5px;
  top: 3px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80%;
  font-weight: bold;
  text-shadow: 0.5px 0.45px 1px black;
}
#cart-img {
  margin-right: 0.5em;
  height: 90%;
}
#container {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #cfa;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2em 1em;
}
.menu-title {
  color: #3a3;
  font-weight: bold;
  font-size: 2.5em;
  text-shadow: -2px -2px 2px white, 2px 2px 2px white, 1px 1px 3px black;
  background: linear-gradient(90deg, #3a3, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 5s infinite;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(60, 180, 60, 0.8);
}
.menu-food {
  color: #a33;
  font-weight: bold;
  font-size: 2.5em;
  text-shadow: -2px -2px 2px white, 2px 2px 2px white, 1px 1px 3px black;
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

.btn {
  background-size: cover;
  background-position: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80px;
  margin: 1em 0;
  border-radius: 15px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.btnTitle {
  font-size: 140%;
  color: white;
  font-weight: bold;
  text-shadow: -1px -1px 1px black, 1px 1px 1px black;
}

.food-image {
  width: 85%;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.subtitles-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.description-div {
  width: 80%;
}
.description {
  width: 80%;
  font-size: 110%;
  text-align: justify;
  margin-top: 0;
}
.precio,
.promo {
  width: 80%;
  text-align: right;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.precio {
  color: #e80;

  font-size: 2.2em;
}
.promo {
  color: #c22;

  font-size: 2.35em;
}
.quantity-mother-div {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 1em;
}
.total-price-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0.6em;
}
.total-title {
  margin-bottom: 5px;
  margin-top: 0px;
  font-weight: bold;
}
.total-price {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 0.6em;
  border-radius: 5px;
}
.plus-minus-global {
  display: flex;
  align-items: center;
  height: 100%;
}
.plus-minus {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
  align-self: right;
}
.ammount {
  width: 20px;
  cursor: default;
  height: 40%;
}
.minus,
.plus {
  cursor: pointer;
  font-weight: bold;
  text-shadow: 0px 0px 3px black, 0px 1px 3px black;
  color: white;
}
.minus {
  font-size: 1.8em;
}
.plus {
  font-size: 1.5em;
}
.cart-btn,
.cart-order-btn {
  background-color: #fff;
  border-radius: 5px;
  padding: 0.6em;
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
}
.cart-btn {
  align-self: flex-end;
}
.cart-order-btn {
  font-weight: bold;
  border-radius: 10px;
  font-size: 110%;
}
.dia-de-pedido {
  align-self: end;
}
.item-add-alert {
  display: flex;
  position: fixed;
  width: 80%;
  height: 10vh;
  right: 10px;
  top: 50px;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  font-size: 85%;
  opacity: 90%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.cart-food-wrapper {
  height: 100px;
  width: 95%;
  border-radius: 15px;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  overflow: hidden;
  background-color: #efe;
  box-shadow: 0px 0px 3px lightgreen, 0px 0px 15px rgba(60, 180, 60, 0.5);
  margin-top: 1em;
}
.cart-img-wrapper {
  width: 30%;
}
.cart-text-wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  font-weight: bold;
  padding-left: 0.5em;
}

.cart-name-close-wrapper {
  height: 50%;
  display: flex;
}
.cart-quantity-price-wrapper {
  height: 50%;
  display: flex;
}

.cart-name-wrapper {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 120%;
  color: #b50;
}
.cart-close-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #b30;
  width: 30%;
  font-size: 180%;
  padding-right: 1em;
}
.cart-close-btn {
  cursor: pointer;
}
.cart-close-btn:hover {
  color: red;
}
.cart-quantity-wrapper {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: left;
}
.cart-price-wrapper {
  display: flex;
  align-items: center;
  font-size: 130%;
}
.cart-total-price {
  align-self: flex-end;
  margin: 1em;
  font-weight: bold;
  font-size: 150%;
}
#order-form {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.text-input-text {
  margin-top: 1em;
  font-size: 80%;
  font-weight: bold;
}
.asterisk {
  color: red;
  text-shadow: 0px 0px 1px black;
}
.hidden-checkbox {
  display: none;
}
.selector-div {
  display: flex;
  flex-direction: column;
}
.inner-selector-div {
  display: flex;
}
.h-cb-label {
  width: 120px;
  background-color: white;
  margin-right: 1em;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid gray;
  padding: 1em;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
.selected {
  background-color: lightblue;
  color: darkblue;
  border: 1px solid darkblue;
}
.input-error {
  font-size: 70%;
  font-weight: bold;
  color: red;
  margin: 0;
  text-shadow: 0px 0px 1px black;
  display: none;
}
